# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.pyc

# Model or large serialized files
*.pkl

# macOS system file
.DS_Store

# Environment config
.env

# Jupyter notebook cache
*.ipynb_checkpoints
